.inputs {
}

.input {
  position: relative;
  overflow: hidden;

  display: flex;
  background-color: #18181A;
}

.input:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.input:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input input[type="text"], .input input[type="number"] {
  display: block;
  width: calc(100% - 20px);
  padding: 0;
  background-color: #18181A;
  border: 0;
  border-radius: 0;
  padding: 17px 10px 10px 10px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  margin: 0;
  border-bottom: .5px solid #292929;
}

.input:first-child input[type="text"], .input:first-child input[type="number"] {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.input:last-child input[type="text"], .input:last-child input[type="number"] {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}

.input input[type="text"].error {
  border: .5px solid red;
  width: calc(100% - 22px);
}

.input .errorLabel {
  color: red;
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin-left: 10px;
}

.input label {
  display: block;
  position: absolute;
  left: 10px;
  top: 16px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: .2s;
  color: #aaa;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 20px);
}

.input.radio, .input.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #18181A;
  width: calc(100% - 20px);
  padding: 10px 10px 10px 10px;
}

.input.select {
  padding: 15px 10px 13px 10px;
}

.input.radio input, .input.radio label {
  display: block;
}

.input.radio label, .input.select label {
  position: relative;
  top: 0;
  color: #aaa;
  left: 0;
}
.input select {
  width: 0;
  height: 0;
  opacity: 0;
}
.input.radio, .input.select {
  border-bottom: .5px solid #292929;
}
.input.radio:first-child, .input.select:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.input.radio:last-child, .input.select:last-child{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}
.input.error {
  border-right: 1px solid red;
  border-left: 1px solid red;
  width: calc(100% - 22px);
}
.input.error:first-child {
  border-top: 1px solid red;
}

.input.error:nth-child(3) {
  border-bottom: 1px solid red!important;
}

.input textarea {
  display: block;
  width: 100%;
  height: 30vw;
  padding: 0;
  background-color: inherit;
  border: 0;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  margin: 0;
  overflow: auto;
  resize: none;
}

.input.textarea {
  padding: 17px 10px 10px 10px;
  background-color: #18181A;
}
.input.textarea {
  border-bottom: .5px solid #292929;
}
.input.textarea:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.input.textarea:last-child{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}

.input.textarea.error {
  border: 1px solid red;
  width: calc(100% - 22px);
}

.input label.focused {
  transform: translateY(-13px);
  font-size: 11px;
}

.title {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #aaa;
}

.value {
  margin-left: auto;
  margin-right: -10px;

  font-size: 14px;
  font-weight: 300;

  display: flex;
  gap: 8px;
}

.value img {
  transform: rotate(90deg);
}

.valueGray {
  margin-left: auto;
  margin-right: -10px;

  font-size: 14px;
  font-weight: 300;
  color: #aaa;
  
  display: flex;
  gap: 8px;
}

.valueGray img {
  filter: brightness(.7);
  transform: rotate(90deg);
}

.selectChoice {
  display: flex;
  align-items: center;

  top: 0;
  margin-left: auto;

  font-size: 14px;
  font-weight: 300;

  display: flex;
  gap: 8px;
}

.selectChoice img {
  transform: rotate(90deg);
}

