.images .hack {
  height: calc(10vw + 14px);
  overflow-y: hidden;
}

.images .hack > div {
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  padding-bottom: 20px;
  gap: 5px;
}

.images .image {
  width: 15vw;
  height: 10vw;
  border-radius: 6px;
  flex-shrink: 0;

  position: relative;
  overflow: hidden;

  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.images .imageActive {
  width: 15vw;
  height: 10vw;
  border: 2px solid #fff;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;

  box-shadow: 0 0 10px rgba(255, 255, 255, .25);
}

.images .image img, .images .imageActive img {
  width: 15vw;
  height: calc(10vw + 14px);
  object-fit: cover;
  border-radius: 4px;
}

.images .image span, .images .imageActive span {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  background-color: inherit;
}

.addImage {
  width: 15vw;
  height: 10vw;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(102, 102, 102, 0.35) 0%, rgba(51, 51, 51, 0.50) 100%);
  border-radius: 4px;
  flex-shrink: 0;
  position: sticky;
  left: 0;
  margin-right: 2px;
  backdrop-filter: blur(10px);

  z-index: 1
}

.addImage img {
  width: 30px;
}

.remove {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;

  background: linear-gradient(180deg, rgba(102, 102, 102, 0.35) 0%, rgba(51, 51, 51, 0.50) 100%);
  backdrop-filter: blur(10px);

  border-radius: 4px;
}

.remove img {
  width: 60%;

}
