.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  padding-top: 10px;
}

.header > div:first-child {
  width: 100%;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header span {
  background: linear-gradient(to right, #EF0E37 0%, #FF0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

.socialMedias {
  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  border-bottom: .5px solid #191919;
}

.socialMedia {
  background-color: #18181A;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  gap: 10px;

  width: 100%;
  padding: 10px 0;
}

.socialMedia > div:first-child {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMedia > div:first-child img {
  width: 50%;
}

.socialMedia > div:last-child {
  font-size: 12px;
  font-weight: 300;
}

.block {
  display: flex;
  flex-flow: column;
  padding: 20px 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
  padding-bottom: 10px;
}

.title > div {
  display: flex;
  align-items: center;

  font-size: 13px;
  font-weight: 300;

  gap: 5px;
}

.itemsWrapper {
  height: 135px;
  overflow: hidden;

  width: calc(100% + 30px);
  margin-left: -15px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  width: auto;
  overflow-x: auto;

  padding: 0 15px;
  padding-bottom: 30px;
}

.item {
  background-color: #18181A;

  width: 135px;
  height: 135px;
  flex-shrink: 0;

  display: flex;
  justify-content: flex-end;
  flex-flow: column;

  border-radius: 8px;
  position: relative;
}

.item span {
  font-size: 13px;
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.item div {
  font-size: 11px;
  font-weight: 300;
  color: #aaa;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.posts {
  display: flex;
  flex-flow: column;
  gap: 20px;

  padding-bottom: 150px;
}

.promo {
  background-color: #18181A;
  box-sizing: border-box;

  width: 100%;
  flex-shrink: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-radius: 8px;

  padding: 10px;
  gap: 20px;
}

.promo > div:first-child {
  padding: 10px;
  background-color: rgba(0,0,0,.5);
  border-radius: 10px;
}

.promo > div:first-child img {
  width: 70px;
  margin-bottom: -5px;
}

.promo > div:last-child {
  display: flex;
  flex-flow: column;

  gap: 10px
}

.promo > div:last-child > span:first-child {
  font-size: 16px;
}

.promo > div:last-child > span:last-child {
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.promoModal {
  position: fixed;
  z-index: 9;
  width: 90vw;
  bottom: 20vw;
  left: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(39, 39, 39, 0.5) 100%);
  border-radius: 8px;
  backdrop-filter: blur(20px);

  animation-name: fadeInBottom;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.promoHeader {
  background: linear-gradient(180deg, rgba(102, 102, 102, 0.35) 0%, rgba(51, 51, 51, 0.50) 100%);
  backdrop-filter: blur(10px);
  border-radius: 8px;

  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.promoHeader > div:first-child {
  background-color: rgba(0,0,0,.5);
  border-radius: 10px;
  padding: 10px;
}

.promoHeader > div:first-child img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.promoHeader > img {
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(45deg);
  width: 44px;
}

.promoTitle {
  font-size: 16px;
}

.promoDescription {
  font-size: 12px;
  font-weight: 300;
  color: #aaa;
  margin-top: 5px;
}

.promoBody {
  padding: 5px 20px 20px 20px;
}

.promoBody > div {
  display: flex;
  align-items: center;
  justify-content: start;

  gap: 10px;

  font-size: 16px;
  font-weight: 300;
  
  height: 30px;
  padding-top: 10px;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  margin-top: 10px;
}

.contacts .telephone {
  font-size: 20px;
  font-weight: 300;
}

.contacts .icons {
  display: flex;
}

.contacts .icons img {
  height: 32px;
  display: block;
  margin-left: 5px;
}

.footer {
  min-height: 50vh;
  padding-top: 5px;
  border-top: .5px solid #18181A;
  margin-left: -15px;
  width: calc(100%);
  padding: 0 15px;
}

.map {
  margin-top: 10px;
}

.mapaddress {
  font-size: 14px;
  font-weight: 300;
}

.map_24124 {
  margin-top: 10px;
}

.map_24124 iframe {
  border-radius: 9px;
}

.button {
  background-color: #313131;
  text-align: center;
  border-radius: 4px;
  padding: 15px 0;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.flex-line .button:last-child {
  margin-left: 10px;
}

.ptitle {
  font-size: 15px;
  font-weight: 400;
}

div.ptitle {
  margin-bottom: 12px;
  margin-top: 12px;
}

.flexline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.pwarning {
  font-size: 16px;
  font-weight: 400;
  color: red;
}

.informationheader {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 15px;
}

.informationheader .title {
  font-size: 18px;
  font-weight: 600;
}

.informationblocks {
  margin-top: 35px;
}

.informationblocks .informationblock {
  margin-bottom: 20px;
  border-bottom: 0.5px solid #18181A;
  padding-bottom: 6px;
}

.informationblocks .informationblock .informationdescription {
  height: 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
  transition: .2s;
}

.informationblocks .informationblock .informationtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.informationblocks .informationblock .informationtitle span {
  font-size: 16px;
  font-weight: 300;
}

.informationblocks .informationblock .informationtitle img {
  /* transform: rotate(90deg); */
  transition: .2s;
}


.informationblocks .informationblock:last-child {
  border-bottom: 0;
}

.labelBy {

}

.labelBy {
  text-align: center;
  padding: 50px;
  font-size: 13px;
  font-weight: 300;
  color: #8F8E93;
}

.labelBy span {
  font-weight: 400
}